In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns

In [3]:
df = pd.read_csv(r"C:\Users\Alex Christopher\OneDrive\Desktop\Modular\ML_Live_Class\data\advertising.csv")
df.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3   12.0
3  151.5   41.3       58.5   16.5
4  180.8   10.8       58.4   17.9

In [5]:
X = df.drop("Sales", axis=1)
X.head()

      TV  Radio  Newspaper
0  230.1   37.8       69.2
1   44.5   39.3       45.1
2   17.2   45.9       69.3
3  151.5   41.3       58.5
4  180.8   10.8       58.4

In [8]:
y = df["Sales"]

In [9]:
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression

In [10]:
poly_conv = PolynomialFeatures(degree=3, include_bias=False)

In [11]:
final_model = LinearRegression()

In [14]:
poly_features = poly_conv.fit_transform(X)

In [15]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(poly_features, y, test_size=0.33, random_state=101)

In [16]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

In [17]:
scaler.fit(X_train)

StandardScaler()

In [18]:
scaled_x_train = scaler.transform(X_train)

scaled_x_test = scaler.transform(X_test)

In [19]:
from sklearn.linear_model import RidgeCV

In [27]:
ridge_cv_model = RidgeCV(alphas=0.1, scoring='neg_mean_absolute_error')

In [28]:
ridge_cv_model.fit(scaled_x_train, y_train)

RidgeCV(alphas=array(0.1), scoring='neg_mean_absolute_error')

In [29]:
ridge_cv_model.alpha_

0.1

In [30]:
ridge_test_pred = ridge_cv_model.predict(scaled_x_test)

In [31]:
from sklearn.metrics import mean_absolute_error, mean_squared_error

In [32]:
MAE = mean_absolute_error(y_test, ridge_test_pred)
MSE = mean_squared_error(y_test, ridge_test_pred)

MAE, MSE

(1.1565015830944352, 2.2152598841797593)

In [33]:
ridge_cv_model.best_score_

-1.067313238372069

In [34]:
from sklearn.linear_model import LassoCV

In [35]:
lasso_cv_model = LassoCV(eps=0.001, n_alphas=100, cv=10, max_iter=10000000)

In [36]:
lasso_cv_model.fit(scaled_x_train, y_train)

LassoCV(cv=10, max_iter=10000000)

In [37]:
lasso_cv_model.alpha_

0.012427364330766048

In [39]:
lasso_test_pred = lasso_cv_model.predict(scaled_x_test)

In [40]:
MAE = mean_absolute_error(y_test, lasso_test_pred)
MSE = mean_squared_error(y_test, lasso_test_pred)

MAE, MSE

(1.1510501453983615, 2.1700837408607403)

In [44]:
from sklearn.linear_model import ElasticNetCV

elastic_model = ElasticNetCV(l1_ratio=[.1, .5, .7,.9, .95, .99, 1], eps=0.001, n_alphas=100, max_iter=10000000)

In [49]:
elastic_model.fit(scaled_x_train, y_train)

elastic_test_pred = elastic_model.predict(scaled_x_test)

In [50]:
MAE = mean_absolute_error(y_test, elastic_test_pred)
MSE = mean_squared_error(y_test, elastic_test_pred)

MAE, MSE

(1.1564263729889686, 2.176465740104664)

In [53]:
error = pd.DataFrame({
    "Actual Value" : y_test,
    "Ridge CV" : ridge_test_pred,
    "Lasso CV" : lasso_test_pred,
    "Elastic CV" : elastic_test_pred
})
error

     Actual Value   Ridge CV   Lasso CV  Elastic CV
37           14.7  13.865428  13.321060   13.307584
109          19.8  20.535267  20.926199   20.924837
31           11.9  13.071083  12.871240   12.879016
89           16.7  16.290416  15.989295   15.942945
66           11.0   7.635153   8.092547    8.185949
..            ...        ...        ...         ...
183          26.2  24.705061  24.867763   24.924636
127          11.9   9.965605  10.147621   10.111946
53           21.2  20.745525  20.861726   20.796086
100          16.7  16.038690  16.665054   16.703855
93           22.2  21.773191  22.075474   22.095051

[66 rows x 4 columns]